<div class="container">
  <h1>Hi mate, what is your question?</h1>
  <form action="/answer" method="get" class="form-inline">
    <input type="text" name="question" placeholder="Question" class="form-control">
    <input type="submit" value="Ask!" class="btn-primary form-control">
  </form>
</div>
